#adminPage {
  display: flex;
  flex-direction: column;
  height: 94%;
}

#actionBtns {
  flex-basis: 10%;
  border-bottom: solid;
}

.adminPageBtn {
  margin-left: 2%;
}

#adminDisplayResults {
  margin-top: 2%;
  flex-basis: 90%;
}
