#adminPage {
  display: flex;
  flex-direction: column;
  height: 94%;
}

#actionBtns {
  flex-basis: 10%;
  border-bottom: solid;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 1%;
}

.adminPageBtn {
  margin-left: 2%;
}
