#adminPage {
  display: flex;
  flex-direction: column;
  height: 94%;
  background-image: url("https://res.cloudinary.com/dr6horuoy/image/upload/v1652021389/PetAdoptionImages/PAWS_hhbc1w.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#actionBtns {
  flex-basis: 10%;
  border-bottom: solid blue;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 1%;
}

.adminPageBtn {
  margin-left: 2%;
}
