#homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 94.7%;
  width: 100%;
  background-image: url("https://res.cloudinary.com/dr6horuoy/image/upload/v1651833082/PetAdoptionImages/banner_ktuurr.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#homePageWelcomeCard {
  flex-basis: 10%;
  height: 12%;
  font-weight: bold;
  background-color: white;
  border: solid black;
  display: flex;
}

.homePageWelcomeCardIcon {
  max-width: 100%;
  max-height: auto;
}

.homePageWelcomeCardTxt{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: xx-large;
}

#homePageDataArea{
  flex-basis: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10%
}

#homePageBtnsArea {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
