#profilePage {
  display: flex;
  flex-direction: column;
  height: 94.7%;
  background-image: url("https://res.cloudinary.com/dr6horuoy/image/upload/v1652209126/statics/banner_o8vnij.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

