#searchPage {
  height: 94%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2%;
}

#searchBar {
  flex-basis: 7%;
}

#searchOptions {
  width: 100%;
  flex-basis: 30%;
}

#searchPageBanner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 30%;
  width: 100%;
  background-image: url("https://res.cloudinary.com/dr6horuoy/image/upload/v1651833082/PetAdoptionImages/banner_ktuurr.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: solid blue;
}


