#searchPage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#searchPageBtns {
  margin-top: 5%;
}

#searchOptions {
  width: 100%;
}

#searchDisplayResults {
  width: 100%;
}
